@charset "utf-8";
/* CSS Document */

.cbpp_map {
	position:relative;
}

.cbpp_map text {
	cursor:pointer;	
}

.cbpp_map li {
	margin:auto;	
}

.cbpp_map .popup {
    border:1px solid #000;
	box-sizing:content-box;
	z-index:10;
}

.cbpp_map .popup ul{
	margin-left:0px;
	padding-left:1em;
}
.cbpp_map .popup li{
	margin-top:0.5em;
	margin-left:0px;
	padding-left:0px;
}
.cbpp_map .popup h4 {
    margin:0px;padding:0px;  
	font-size:11pt; 
}
.cbpp_map .popup p, .popup ul {
    margin-bottom:0px;padding-bottom:0px;  
	margin-top:0px;padding-top:0px;
	font-size:11pt;   
}
.cbpp_map .popup p.notes {
	margin-top:10px;
	font-size:9pt;	
}